#quickview-content .page-title-wrapper{
	display: block !important;
}
#quick-background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 499;
	background-color: #000;
	opacity: 0.4;
}
#quick-window{
  position:absolute;
  z-index:999;
  background-color:#fff;
  width:900px;
  display:none;
  -webkit-box-shadow: 0px 0px 30px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 0px 30px 0px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
#quick-window .product-img-box{width:230px; float:left}
#quickview-close{
    height: 40px;
	width: 40px;
	background: url(../images/close_newletter.png) no-repeat;
	cursor: pointer;
	float: right;
	position: absolute;
	right: -20px;;
	top: -20px;;
	text-indent: -9999px;
}
#quickview-header{}

#ajax-preloader{
    opacity:0.8;
    filter:alpha(opacity="80");
    text-align:center;
    z-index:500;
    background: url(../images/ajax_loader.gif) center top no-repeat;
}
#ajax-preloader .loading{border:2px solid #777; color:#000; background:#eee; text-align:center; width:120px; padding:15px; font-weight:bold;}
.product-slider-wrapper {
	float:left;
	position:relative;
	margin-top: 15px;
}
#quick-window .navi-product {
	cursor: pointer;
}
#quick-window .navi-product div {
	width: 26px;
    height: 26px;
    line-height: 26px;
    color: #000;
    position: absolute;
    top: 50%;
    z-index: 1550;
    font-size: 1.2em;
    background: #ccc;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px 0px #000;
    box-shadow: 2px 2px 5px 0px #000;
    text-align: center;
}
#quick-window .navi-product div:hover{
	color:#fff;
}
#quick-window .navi-product .prev-prd {left: 0px;cursor: pointer;}
#quick-window .navi-product .next-prd {right: 0px;}

#quick-window .product-shop{float:left; position:relative; text-align:left;}
#quick-window .product-shop .quicview-skupr{}
#quick-window .product-shop .quicview-skupr h5,
#quick-window .product-shop .quicview-skupr label{
	display:inline-block;
}
.quick-shortdesc h5{padding-bottom:10px;}
#quick-window .product-shop .actions{margin-top:10px;}
#quick-window .product-essential{padding:0px;}
.catalog-listing .product-image{position:relative;}
.catalog-listing .product-image .ajax{position:absolute; display:none;}
.product-image .ajax{ display:none;}
.product-image .ajax:hover{ display:block;}

.padding-10{padding-bottom:10px}

a.ajax{
    text-decoration:none;
}
.quick-view-content .product-price {
    font-size: 30px;
    width: 100%;
    display: inline-block;
}

a.ajax:hover{text-decoration:none;}
a.ajax .diamond{
	line-height:34px;
}






.tab-bar { list-style: none; border-bottom: 1px solid #ccc; }
.tab-bar li { display: inline; }
.tab-bar li a { color: black; float: left; font-family: 'texgyreadventorbold';font-size: 16px; display: block; padding: 15px 25px; margin-left: -1px; position: relative; left: 1px; background: white; text-decoration: none; cursor: pointer; 
	text-transform:uppercase;
}
.tab-bar li a:hover { background: #ccc; }
.tab-bar .active-tab-name {
	background-color: #E2D3CA;
	
}

.tabbed-area div[id^="box"] { background: white; padding:40px 5px 15px;     display: inline-block;}
.tab-group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.tab-bar li a { border: 1px solid #ccc;    border-bottom: 0; }
.tabbed-area div[id^="box"]{border-left:none;border-right:none;}
.box-wrap { position: relative; min-height: 200px; }
#box-one, #box-two, #box-three {
	position: relative;
	    width: 100%;
}
#box-two,
#box-three{padding: 40px;}
.main-img-quickview{position: relative; border: 1px solid #e8e8e8;}
.flat-button {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}
.flat-button:hover {
	text-decoration: none;
}

.product-shop label {
	font-weight: bold;
}
.list-area, .review-list-area {
	display: block;
	width: 100%;
	float: left;
	text-align: left;
}

.tags-tab-quickview .form-add {
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 20px;
}
.tags-tab-quickview .form-add label{
	 float: left;
    margin: 0 10px 0 0;
    line-height: 42px;
}
.tags-tab-quickview .form-add input{
	    width: 290px;
    padding: 11px 10px 10px;
}
.cz-product-name {
	font-size: 1.5em;
	font-weight: bold;
}
.tag-item {
	zdisplay: block;
	zbackground-color: #E6E6E6;
	padding: 2px;
	border-radius: 4px;
}
.tag-item a {
	text-decoration: none;
}
.count-view {
	color: orange;
	font-size: 13px;
	font-weight: bold;
}
.review-count{}
.review-count label{font-weight:bold;}
.how-do{margin: 15px 0 30px}