<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
   /*Grid*/
		/**
		 * Position for actions regarding image size changing in vde if needed
		 */
		$pos = $block->getPositioned();
	?>
    <div class="rokan-category-special">
        <div class="vc_column-inner">
    		<div class="rokan-product-heading rokan-category-special-heading"><h2><?php echo __('Electronics')?></h2></div>
            <?php $iterator = 1; 
    			$i = 0;
    			$rows = 1; ?>
            <ul class="owl">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
    				<?php if($i++ %$rows == 0) echo "<li class='item special-item'>"; ?>
                    <div class="product-item" data-container="product-grid">
                        <div class="cat-item">
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php // Product Image ?>
        					<div class="product-thumb pull-left">
        						<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
        							<?php $productImageThumb = $block->getImage($_product, 'category_page_grid-1');?>
        							<span class="first-thumb">
                                        <?php echo $productImage->toHtml(); ?>
        							</span>
        							<span class="second-thumb">
                                        <?php echo $productImageThumb->toHtml(); ?>
        							</span>
        						</a>
        					</div>
                            <div class="product-info">
                                <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <h3 class="product-name">
                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                                </h3>
                                <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                                <?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product)) ?>
                                <div class="product-info-cart">
                                <div class="actions-primary addcart-link">
                                      <?php if ($_product->isSaleable()): ?>
                                      <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                      <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_product) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
                                      <span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
                                      </button>
                                      <?php else: ?>
                                      <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
                                        ?>
                                      <button class="btn-add-to-cart"
                                         data-post='<?php echo $postData; ?>'
                                         type="button" title="<?php echo __('Add to Cart') ?>">
                                      <span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
                                      </button>
                                      <?php endif; ?>
                                      <?php else: ?>
                                      <?php if ($_product->getIsSalable()): ?>
                                      <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                      <?php else: ?>
                                      <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                      <?php endif; ?>
                                      <?php endif; ?>
                                 </div>
                                <ul class="product-extra-link add-to-links">
                                    <li>
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                            <a href="#"
                                               data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                               class="wishlist-link action towishlist" data-action="add-to-wishlist"
                                               title="<?php echo __('Add to Wishlist') ?>">
                                                
                                            </a>
                                        <?php endif; ?>
                                    </li>
                                    <li>
                                        <div class="add-to-wishlist">
                                            <a href="#"
                                               data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                               class="wishlist-link action towishlist" data-action="add-to-wishlist"
                                               title="<?php echo __('Add to Wishlist') ?>">
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <?php if ($block->getAddToCompareUrl()): ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                            <a href="#" class="compare-link action tocompare"
                                               data-post='<?php echo $compareHelper->getPostDataParams($_product);?>'
                                               title="<?php echo __('Add to Compare') ?>">
                                                
                                            </a>
                                        <?php endif; ?>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>    
                    </div>
                    <?php if($i == $rows || $i == count($_productCollection)) echo '</li>'; ?>
                <?php endforeach; ?>
            </ul>
        </div>    
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
		
    <?php endif; ?>
	<script type="text/javascript">
		require([
			'jquery',
			'mage/mage',
			'rokanthemes/owl'
		], function ($) {
			'use strict';

			jQuery(".rokan-category-special .owl").owlCarousel({
				autoPlay : false,
				items : 4,
				itemsDesktop : [1199, 3],
        itemsDesktopSmall : [991, 2],
        itemsTablet : [767, 2],
				itemsMobile : [480,1],
				slideSpeed : 500,
				paginationSpeed : 500,
				rewindSpeed : 500,
				navigation : true,
				stopOnHover : true,
				pagination :false,
				scrollPerPage:true,
         navigation : true,
           afterAction: function(el){
         this.$owlItems.removeClass('first-active')
         this.$owlItems .eq(this.currentItem).addClass('first-active')  
      }
			});
		});
	</script>
<?php endif; ?>
