
<div class="pcheckout-newsletter checkbox-group" style="position: unset; display: none !important;">
	<br/>
    <br/>
    <input type="checkbox" id="is-delivery-on-ready" name="is-delivery-on-ready" class="checkbox osc-additional-data"> 
    <label class="label--checkbox" for="is-delivery-on-ready">
        
        <span class="check"></span>
        <span class="box-check"></span>
        ส่งพร้อมกันทั้งหมด<br/>
        <font color ="red" style="font-size: x-small;">
		เลือกส่งพร้อมกันทั้งหมดเมื่อต้องการให้จัดส่งสินค้า<br/>
		เมื่อสินค้าทุกชิ้นในใบเสร็จ มีสินค้า (พร้อมส่ง)
		</font>
    </label>
</div>
<div>

</div>