<head>
    <style>
        .tba_order_info_column{
            width: 50%;
            float: left;
        }
    </style>
</head>

<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view" style="display: table;">
    <div class="block-title" style="font-size: x-large; font-weight: 600;">
        <strong><?= /* @escapeNotVerified */ __('Order Information') ?></strong>
    </div>
    <br />
    <div class="block-content" style="line-height: 1.5rem;">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="col-sm-4">
            <div class="box box-order-shipping-address" style="margin-bottom: 20px;">
                <strong class="box-title" style="font-weight: 600;">
                    <span><?= /* @escapeNotVerified */ __('Shipping Address') ?></span>
                </strong>
                <br />
                <div class="box-content">
                    <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
                </div>
            </div>
            
        </div>
    <?php endif; ?>
    <div class="col-sm-4">
        <div class="box box-order-billing-address" style="margin-bottom: 20px;">
            <strong class="box-title" style="font-weight: 600;">
                <span><?= /* @escapeNotVerified */ __('Billing Address') ?></span>
            </strong>
            <br />
            <div class="box-content" style="line-height: 1.5rem;">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        
    </div>
    <div class="col-sm-4">
        <div class="box box-order-shipping-method">
                <strong class="box-title" style="font-weight: 600;">
                    <span><?= /* @escapeNotVerified */ __('Shipping Method') ?></span>
                </strong>
                <br />
                <div class="box-content" style="line-height: 1.5rem;">
                <?php if ($_order->getShippingDescription()): ?>
                    <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                <?php else: ?>
                    <?= /* @escapeNotVerified */ __('No shipping information available') ?>
                <?php endif; ?>
                </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title" style="font-weight: 600;">
                <span><?= /* @escapeNotVerified */ __('Payment Method') ?></span>
            </strong>
            <br />
            <div class="box-content"  style="line-height: 1.5rem;">
                <span><?= $block->getPaymentInfoHtml() ?></span>
            </div>
        </div>
    </div>
</div>
