<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<style type="text/css">
    .tba-order-history-col{
        white-space: nowrap;
        overflow: hidden;
        overflow-wrap: normal;
    }
</style>
<div class="block block-dashboard-orders">
<?php
    $_orders = $block->getOrders();
    $count = count($_orders);
?>
    <div class="block-title order">
        <strong><?= /* @escapeNotVerified */ __('Recent Orders') ?></strong>
        <?php if ($count > 0): ?>
            <a class="action view" href="<?= /* @escapeNotVerified */ $block->getUrl('sales/order/history') ?>">
                <span><?= /* @escapeNotVerified */ __('View All') ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
    <?= $block->getChildHtml() ?>
    <?php if ($count > 0): ?>
        <div class="table-wrapper orders-recent">
            <table class="data table table-order-items recent" id="my-orders-table">
                <caption class="table-caption"><?= /* @escapeNotVerified */ __('Recent Orders') ?></caption>
                <thead>
                    <tr>
                        <th scope="col" class="col id tba-order-history-col"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                        <th scope="col" class="col date tba-order-history-col"><?= /* @escapeNotVerified */ __('Date') ?></th>
                        <th scope="col" class="col shipping tba-order-history-col"><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                        <th scope="col" class="col total tba-order-history-col"><?= /* @escapeNotVerified */ __('Order Total') ?></th>
                        <th scope="col" class="col status tba-order-history-col"><?= /* @escapeNotVerified */ __('Status') ?></th>
                        <th scope="col" class="col tracking tba-order-history-col">การจัดส่ง</th>
                        <th scope="col" class="col actions tba-order-history-col"><?= /* @escapeNotVerified */ __('Action') ?></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($_orders as $_order): ?>
                        <tr>
                            <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id tba-order-history-col"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date tba-order-history-col"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping tba-order-history-col"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total tba-order-history-col"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status tba-order-history-col"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                            <td data-th="การจัดส่ง" class="col tracking tba-order-history-col">
                                <?php 
                                    $trackingNumber = $_order->getData('trackingNumber');
                                    if($trackingNumber == "") :
                                        echo 'ยังไม่ได้ส่ง';
                                    else : 
                                ?> 
                                         <a href="<?php echo "https://www.scgexpress.co.th/tracking/detail/" . $_order->getData('trackingNumber'); ?>" target = "_blank">
                                            <span>
                                                <?php 
                                                    echo $trackingNumber;
                                                ?> 
                                            </span>
                                        </a>
                                <?php 
                                    endif; 
                                ?>
                            </td>
                            <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions tba-order-history-col">
                                <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                    <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                                </a>
                                <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                    $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                                    </a>
                                <?php endif ?>
                            </td>
                            
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
    <?php endif; ?>
    </div>
</div>
