/**
 * custom theme 2018-08-24 03:35:16 */

#newsletter_pop_up{
width: 970px;height: 540px;background-color: #FFFFFF;}
html, body { 
    font-size: 14px; 
	font-family: Poppins;
}
html,body{
	color:#888888;
}
a, a:focus {
	color:#222222;
}
a:hover{
	color:#888888;
}
.btn, .action.primary, .block-cart-failed .action.continue, .cart-container .form-cart .action.continue, .cart.table-wrapper .action-gift, .cart.table-wrapper .actions-toolbar>.action, .review-form .action.submit.primary, button{
		background-color:#222222;
    border-color:#222222;
			color:#FFFFFF;
	}
.btn:hover, .action.primary:hover, .block-cart-failed .action.continue:hover, .cart-container .form-cart .action.continue:hover, .cart.table-wrapper .action-gift:hover, .cart.table-wrapper .actions-toolbar>.action:hover, .review-form .action.submit.primary:hover, button:hover{
		background-color:#888888;
    border-color:#888888;
			color:#FFFFFF;
	}
.page-main, .content-top-home {
	background-color:#FF0000;
}
.page-wrapper {
	background-color:#04FF00;
}
