/**
 * custom theme 2017-11-12 15:35:03 */

#newsletter_pop_up{
width: 800px;height: 612px;background-color: #FFFFFF;background-image: url(http://127.0.0.1/smartmedia/pub/media/rokanthemes/newsletter/background/default/logo_popup_1.jpg);background-repeat: no-repeat;
background-position:  50% 19%;}
