
<div id="footer" class="footer-container layout2 footer">
  <div class="container">
  	<?php echo $this->getChildHtml("footer_static"); ?>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <?php  echo $this->getLayout()->createBlock("Rokanthemes\Themeoption\Block\Customcss")->setTemplate("html/copyright.phtml")->toHtml() ?>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <?php echo $this->getChildHtml("footer_home4"); ?>
      </div>
    </div>
  </div>
</div>
<div id="back-top" class="hidden-xs"><i class="fa fa-angle-up"></i></div>
