<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
$images = $block->getGalleryImages();
$product = $block->getProduct();
if(count($images) > 0)
{
	$mainImage = $images->getFirstItem();
	foreach($images as $image)
	{
		if($block->isMainImage($image))
		{
			$mainImage = $image;
			break;
		}
	}
?>
<div class="tba_quick_view" style="width: 100%;">
		<span style="text-align: left;font-size: x-large;display: flex;padding-top: 20px;margin-left: 10px;color:black"><?php echo $product->getName(); ?></span>
		<hr style="width: 100%;">
</div>
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder" id="gallery_<?php $product->getId(); ?>" >
	<div class="product-slider-wrapper col-md-6">
		<div class="main-img-quickview">
			<a href="<?php echo $product->getProductUrl(); ?>" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: false, zoomWidth:'100', adjustY:0, adjustX:0">
				<img src="<?php echo $mainImage->getData('medium_image_url'); ?>">
			</a>
		</div>
	</div>
</div>

<?php } ?>
<script>
	jQuery(document).ready(function() {
		return;
		jQuery('#gallery_<?php $product->getId(); ?> .cloud-zoom, #gallery_<?php $block->getProduct()->getId(); ?> .cloud-zoom-gallery').CloudZoom({
			adjustX: 0,
			adjustY: 0
		});
		// Horizontal
		var horiSlider<?php $product->getId(); ?> = jQuery('#gallery_<?php $block->getProduct()->getId(); ?> .bxslider').bxSlider({
			mode: 'horizontal',
			auto: false,
			autoControls: false, 
			slideMargin: 9.5,

			// CAROUSEL
			minSlides: 4,
			maxSlides: 4,
			moveSlides: 1,
			slideWidth: 100,
			
			// PAGER
			pager: false,
			nextText: "<i class='amz-icon foxy-arrow_right'></i>",
			prevText: "<i class='amz-icon foxy-arrow_left'></i>",
			onSlideAfter: function() {
				var currentImg = horiSlider<?php $block->getProduct()->getId(); ?>.getCurrentSlideElement().children('img');
				jQuery('#gallery_<?php $block->getProduct()->getId(); ?> a.cloud-zoom').attr('href', currentImg.attr('data-href'));
				jQuery('#gallery_<?php $block->getProduct()->getId(); ?> a.cloud-zoom img').attr('src', currentImg.attr('data-thumb-image'));
				jQuery('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
			}
		});
	});
</script>
