<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.menu {
    float: left;
    width: 50%;
    text-align: left;
    padding: 15px;
    background: #e0e0e0;
    margin-top: 10px;
    color: black;
}
.menu a {
  margin-top:7px;
  width:100%;
  color:black;
}
.main {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: left;
    line-height: 1.5rem;
}
.right {
    float: left;
    width: 25%;
    text-align: center;
    padding: 15px;
    background: #e0e0e0;
    margin-top: 10px;
    color: black;
}
.tba_success_checkout{
	background-color: #00d278;
    padding: 15px;
    text-align: center;
    color: white;
}
.tba_2c2p_secure{
	font-size: medium;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
.tba_secure_icon:before {
   	content: "\25AE";
    font-family: FontAwesome;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
</style>
</head>
<?php

$request = $this->getResponseParams();

if(empty($request)) {
	die("Aunthentication Error: Payment transection fail.");
}

$objCustomerDetail = $this->getCustomerDetail();
$strCurrencyCode = $this->getBaseCurrencyCode();

$home_url = $block->getUrl();
$channel_response_code = $request['channel_response_code'];
$current_order = $request['order_id'];
$order_id = $request['order_id'];
$transaction_ref = $request['transaction_ref'];

$objCustomerOrderDetail  = $this->getOrderDetails($order_id);
$floatGrandTotal = $objCustomerOrderDetail->getGrandTotal();
$floatGrandTotal = round($floatGrandTotal,2);
$floatGrandTotal = number_format($floatGrandTotal, 2, '.', '.');
$strCustomerName = '';

if($objCustomerDetail->isLoggedIn()) {
	$strCustomerName = $objCustomerDetail->getCustomer()->getName();
} else {
	$strCustomerName = 'Guest';
}

?>
<div>
	<div class="tba_success_checkout">
		<i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
	  	<div class="page-title" style="margin: 10px;"><h3> <?php echo __('Your order has been received') .'  '. __($strCustomerName) . __('.') ?> </h3></div>
	  	<div class="tba_2c2p_secure">
    		คำสั่งซื้อได้รับการรักษาความปลอดภัยของข้อมูลโดย 2c2p
    	</div>
	</div>
	<div style="overflow:auto">
	  <div class="menu">
	    <p>หมายเลขคำสั่งซื้อ : <a href="<?php echo $home_url;?>sales/order/view/order_id/<?php echo $order_id;?>"><?php echo $order_id;?></a></p>
	    <p>ยอดในการชำระ : <?php echo $floatGrandTotal;?>&nbsp;&nbsp;<?php echo __($strCurrencyCode) ?></p>
	    <p><?php echo __('Your Refrence order ID is:'); echo __($transaction_ref);?></p>
	  </div>
	  <div class="main">
	  	<?php if(strcasecmp($channel_response_code, "000") == 0 || strcasecmp($channel_response_code, "00") == 0) {  ?>
		   	<h4 class="sub-title"> <?php echo __('Thank you for your purchase!') ?> </h4><br>
			 <?php echo __('We have received your payment successfully.') ?> <br>
		<?php } ?>
		<?php if(strcasecmp($channel_response_code, "001") == 0) {  ?>
			<h4 class="sub-title"> <?php echo __('Thank you for your purchase!') ?> </h4><br>
			 <?php echo __('Your payment is pending, please make the payment before expiry.') ?> <br><br>
		<?php } ?>
		 <?php echo __('You will receive an order confirmation email with details of your order and a link to track its progress.') ?>
	  </div>
	  <!--<div class="right">
	    <p><?php //echo __('Your Refrence order ID is:'); ?></p>
	    <p><?php //echo __($transaction_ref); ?></p><br>
	    <p>กด <a href="<?php //echo $home_url;?>sales/order/print/order_id/<?php //echo $current_order;?>" onclick="this.target='_blank'">ที่นี่เพื่อพิมพ์</a> สำเนารายการ</p>
	  </div>-->
	</div>
	
	<div class="primary">
			<button type="button" class="action primary continue" title="Continue Shopping" onclick="window.location='<?php echo $home_url;?>'"><span><span>ช้อปต่อเลยจ้า</span></span></button>
	</div>
</div>


