<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
	<div class="shop-tab-title">
		<?php 
		   $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		   $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
			if($category){
				echo '<h2 class="hidden">'.$category->getName().'</h2>';
			}
		?>
		<div class="shop-tab-select toolbar-html-top">
		<?php echo $block->getToolbarHtml() ?>
		<?php echo $block->getAdditionalHtml() ?>
		</div>
		<div class="clr"></div>
	</div>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
		<?php if ($block->getMode() == 'grid') { ?>
        <ul class="row product-grid">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="col-md-4 col-sm-6 col-xs-12">' : '</li><li class="col-md-4 col-sm-6 col-xs-12">' ?>
                <div class="item-product" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <div class="content-item-product">
                    	<div class="product-thumb">
                    		<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link">
								<?php $productImageThumb = $block->getImage($_product, 'category_page_grid-1');?>
								<span class="first-thumb">
									<?php echo $productImage->toHtml(); ?>
								</span>
								<span class="second-thumb">
									<?php echo $productImageThumb->toHtml(); ?>
								</span>
							</a>
							<div class="quickview-product">
								<a data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="<?php echo __('Quick view');?>">Quickview</a>
							</div>
							<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
								<span class="onsale">
									<span class="sale-bg"></span>
									<span class="sale-text"><?php echo __('Sale') ?></span>
								</span>
							<?php endif; ?>
							<?php $todayDate = time(); 
								$timeStartNew = strtotime($_product->getData('news_from_date'));
								$timeEndNew = strtotime($_product->getData('news_to_date')); ?>
							<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
								<span class="newlabel">
									<span><?php echo __('New') ?></span>
								</span>
							<?php endif; ?>
                    	</div>
                    	<div class="product-info">
							<h3 class="title-product">
								 <?php
									$_productNameStripped = $block->stripTags($_product->getName(), null, true);
								?>
								<a title="<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>"
								   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>"
								   class="product-item-link">
									<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
								</a>
							</h3>
							<div class="product-rating">
								<?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
							</div>
							<div class="info-price">
							<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product)) ?>
							</div>
							<div class="product-info-cart">
								<div class="actions-primary">
									<?php if ($_product->isSaleable()): ?>
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
										<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
											<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
											<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
											<?php echo $block->getBlockHtml('formkey')?>
											<button type="submit"
													title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
													class="btn-add-to-cart addcart-link">
												
												 <?php echo $block->escapeHtml(__('Add to Cart')); ?>
											</button>
										</form>
									<?php else: ?>
										<?php if ($_product->getIsSalable()): ?>
											<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
								</div>
								<div class="product-extra-link">
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
										<a href="#"
										   data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
										   class="wishlist-link action towishlist" data-action="add-to-wishlist"
										   title="<?php echo __('Add to Wishlist') ?>">
											
										</a>
									<?php endif; ?>
									<?php if ($block->getAddToCompareUrl()): ?>
										<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
										<a href="#" class="compare-link action tocompare"
										   data-post='<?php echo $compareHelper->getPostDataParams($_product);?>'
										   title="<?php echo __('Add to Compare') ?>">
										
										</a>
									<?php endif; ?>
									<!-- <div class="quickview-product quickview-product-fixed-inline">
										<a  data-role="quickview-button" data-id="<?php //echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php //echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="<?php //echo __('Quick view');?>"><i class="fa fa-search"></i></a>
									</div> -->
								</div>
							</div>
						</div>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ul>
		<?php }else{ ?>
		<ul class="product-list">
			<li>
				<?php foreach ($_productCollection as $_product){ ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li>' : '</li><li>' ?>
					<div class="item-product">
						<div class="row">
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="product-thumb">
									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link">
										<?php 
											$productImage = $block->getImage($_product, $image);
											$productImageThumb = $block->getImage($_product, 'category_page_grid-1');
										?>
										<span class="first-thumb">
											<?php echo $productImage->toHtml(); ?>
										</span>
										<span class="second-thumb">
											<?php echo $productImageThumb->toHtml(); ?>
										</span>
									</a>
									<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
										<span class="onsale">
											<span class="sale-bg"></span>
											<span class="sale-text"><?php echo __('Sale') ?></span>
										</span>
									<?php endif; ?>
									<?php $todayDate = time(); 
										$timeStartNew = strtotime($_product->getData('news_from_date'));
										$timeEndNew = strtotime($_product->getData('news_to_date')); ?>
									<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
										<span class="newlabel">
											<span><?php echo __('New') ?></span>
										</span>
									<?php endif; ?>
								</div>
							</div>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<div class="product-info">
									<h3 class="title-product">
										 <?php
											$_productNameStripped = $block->stripTags($_product->getName(), null, true);
										?>
										<a title="<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>"
										   class="title-product">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h3>
									
									<div class="product-rating">
										<?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
									</div>
									<!-- <div class="product-code">
										<label><?php //echo __('Item Code');?>: </label> <span>#<?php //echo $block->stripTags($_product->getSku(), null, true);?></span>
									</div> -->
									<!-- <div class="product-stock">
										<label><?php //echo __('Availability');?>: </label>
										<?php //if ($_product->getIsSalable()): ?>
											<span><?php /* @escapeNotVerified */ //echo __('In stock') ?></span>
										<?php //else: ?>
											<span><?php /* @escapeNotVerified */ //echo __('Out of stock') ?></span>
										<?php //endif; ?>
									</div> -->
									<div class="product-desc"><?php echo $_product->getShortDescription(); ?>
									</div>
									<div class="info-price">
										<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product)) ?>
									</div>
									<div class="product-info-cart">
										<div class="actions-primary">
											<?php if ($_product->isSaleable()): ?>
												<?php $postParams = $block->getAddToCartPostParams($_product); ?>
												<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<button type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="btn-add-to-cart addcart-link">
														
														 <?php echo $block->escapeHtml(__('Add to Cart')); ?>
													</button>
												</form>
											<?php else: ?>
												<?php if ($_product->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
										<div class="product-extra-link">
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<a href="#"
												   data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
												   class="wishlist-link action towishlist" data-action="add-to-wishlist"
												   title="<?php echo __('Add to Wishlist') ?>">
													
												</a>
											<?php endif; ?>
											<?php if ($block->getAddToCompareUrl()): ?>
												<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
												<a href="#" class="compare-link action tocompare"
												   data-post='<?php echo $compareHelper->getPostDataParams($_product);?>'
												   title="<?php echo __('Add to Compare') ?>">
												
												</a>
											<?php endif; ?>
											<!-- <div class="quickview-product quickview-product-fixed-inline">
												<a  data-role="quickview-button" data-id="<?php //echo $_product->getId(); ?>" href="javascript: void(0);" data-href="<?php //echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="<?php //echo __('Quick view');?>"><i class="fa fa-search"></i></a>
											</div> -->
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php } ?>
			</li>
		</ul>
		<?php } ?>
    </div>
    <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="sort-pagi-bar sort-pagi-bar-bottom">
			<?php echo $block->getToolbarHtml() ?>
			</div>
		</div>
	</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
