<!-- ko if: isShowDiscount() -->
<div class="opcheckout-discount">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <form class="discount-form" id="discount-form">
        <div class="input-box">
            <label for="discount-code"><!-- ko text: $t('Enter coupon code here') --><!-- /ko --></label>
			      <!-- <input class="input-text" id="coupon_code_opcheckout" autocomplete="off" name="coupon_code" value=""> -->
            <input class="input-text"
                   type="text"
                   id="discount-code"
                   name="coupon_code"
                   autocomplete="off"
                   data-validate="{'required-entry':true}"
                   data-bind="value: couponCode" required />
        </div>
        <div class="actions-button">
            <!-- ko ifnot: isApplied() -->
            <button id="add_coupon_code_button" class="action action-apply apply-coupon" type="submit" data-bind="'value': 'Apply Discount', click: apply">
                <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
            </button>
            <!-- /ko -->
            <!-- ko if: isApplied() -->
            <button id="remove_coupon_code_button" class="action action-cancel apply-coupon" type="submit" data-bind="'value': 'Cancel', click: cancel">
                <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
            </button>
            <!-- /ko -->
        </div>
    </form>
</div>
<!-- /ko -->