<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-bestseller">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_grid-1';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<h2 class="title-03"><?php echo $this->getConfig('title')?></h2>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-featured-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
				$i = 0;
				$rows = 4; ?>
				
			<div class="content-bestseller">
				<div class="wrap-item">
					<?php foreach ($_productCollection as $_product){ ?>
					<?php if($i %$rows == 0) echo "<div class='item bestseller-item'>"; ?>
					<?php 
						$productImage = $block->getImage($_product, $image);
					?>
					<div class="product-item">
						<div class="item-product">
							<div class="product-thumb">
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link">
									<?php $productImageThumb = $block->getImage($_product, 'category_page_list');?>
									<span class="first-thumb">
										<?php echo $productImage->toHtml(); ?>
									</span>
									<span class="second-thumb">
										<?php echo $productImageThumb->toHtml(); ?>
									</span>
								</a>
							</div>
							<div class="product-info">
								<h3 class="title-product">
									<a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
									   href="<?php echo $block->getProductUrl($_product) ?>"
									   class="product-item-link">
										<?php echo $block->escapeHtml($_product->getName()) ?>
									</a>
								</h3>
								<div class="product-rating">
									<?php if ($templateType): ?>
   										<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
   									<?php endif; ?>
								</div>
								<div class="info-price">
									<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product)) ?>
								</div>
							</div>
						</div>
						<?php $i++; ?>
					</div>
					<?php if($i %$rows == 0) echo "</div>"; ?>                  
						<?php } ?>
					<?php if($i %$rows != 0) echo "</div>"; ?>  
				</div>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-bestseller .wrap-item").owlCarousel({
						autoPlay : false,
						items : 1,
						itemsDesktop : [1199,1],
						itemsDesktopSmall : [991,2],
						itemsTablet: [768,2],
						itemsMobile : [767,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
 
<?php } ?>