<?php
	use Magento\Framework\App\Action\Action;
	//echo 'categoryproducttab.phtml where is my block?';
	$enable = $block->getConfig('enabled');
	//echo 'enable? <-- ' . $enable;
	if($enable < 1) return ;

	$items = $block->getConfig('items');
	//echo 'items? <-- ' . $items;
	$speed = $block->getConfig('speed');
	//echo 'speed? <-- ' . $speed;
	$qty = $block->getConfig('qty');
	//echo 'qty? <-- ' . $qty;
	$showCart = $block->getConfig('addtocart');
	//echo 'showCart? <-- ' . $showCart;
	$showWishlist = $block->getConfig('wishlist');
	//echo 'showWishlist? <-- ' . $showWishlist;
	$showCompare = $block->getConfig('compare');
	//echo 'showCompare? <-- ' . $showCompare;
	$show_navigation = $block->getConfig('navigation');
	//echo 'show_navigation? <-- ' . $show_navigation;
	$show_pagination = $block->getConfig('pagination');
	//echo 'show_pagination? <-- ' . $show_pagination;
	$auto = $block->getConfig('auto');
	//echo 'auto? <-- ' . $auto;
	$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
	$image = 'new_products_content_widget_grid';
	//echo 'image? <-- ' . $image;
	$type = 'widget-new-grid';
	//echo 'type? <-- ' . $type;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$rows = $block->getConfig('row');
	//echo 'rows? <-- ' . $rows;
?>
<div class="list-tab-product common-tab-system-fixed">
  <div class="box-title">
        <?php
        //$tab_contents = $block->getTabContent() ;
        $tab_contents = $block->getTabContent() ;
        ?>
        <div class="swiper-container swiper1 title-tab-product">
      		<div class="swiper-wrapper tabs">
	       		<?php
			    $count=0;			
				foreach($tab_contents as $tab) {
					// <?php echo $tab['class']; ?
				?>
				<div rel="tab_<?php echo $tab['id'];?>" class="swiper-slide"> <?php echo $tab['name'];?></div>
				<?php
					$count ++; 
				}
				?>
        	</div>
  		</div>
      <!-- <p class="des"><?php echo __('Lorem Ipsum is simply dummy text of the printing and typesetting industry.') ?></p> -->
  </div>

  <div class="swiper-container swiper2">
	<div class="tab_container swiper-wrapper">
<?php
		foreach($tab_contents as $tab) 
		{
			$productItemsInfos =  $tab['productInfo'];
?>
		 		<div id="tab_<?php echo $tab['id'];?>" class="swiper-slide tab_content <?php echo $tab['class']; ?>">

<?php
		 		foreach($productItemsInfos as $catNames => $cat_value) 
				{
					$categoryUrl = $cat_value['url'];
					$productItems = $cat_value['products'];
					if(count($productItems) === 0)
						break;

					$categoryNameShow = $catNames;
?>
					<a href=<?php echo $categoryUrl ?>><div class="header-control"> 
						<br>
							<h2 style="color: #333; padding-left: 1em; font-weight: 500;"><?php echo $categoryNameShow ?></h2>
						<br>
					</div></a>
		 			<div class="swiper2content swipess owl-theme">
<?php
					$i=0;
					
?>
					
<?php
					foreach($productItems as $_item) 
					{
						$productImage = $block->getImage($_item, $image);
						$productImageThumb = $block->getImage($_item, 'category_page_grid-1');
?>

<?php 
						if($i++%$rows==0) 
						{ 
?> 
							<div class="product-item item"> 
<?php 
						} 
?>
						<div class="item-product">
							<div class="content-item-product">
								<div class="product-thumb">
									<br>
									<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link">
										<span class="first-thumb">
											<?php echo $productImage->toHtml(); ?>
										</span>
										<span class="second-thumb">
											<?php echo $productImageThumb->toHtml(); ?>
										</span>
									</a>
									<div class="quickview-product">
										<a  data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="<?php echo __('Quick view');?>">Quick view</a>
							    	</div>
<?php 
									if ( $_item->getFinalPrice() < $_item->getPrice() ): 
?>
										<span class="onsale">
											<span class="sale-bg"></span>
											<span class="sale-text"><?php echo __('Sale') ?></span>
										</span>
<?php 
									endif; 
?>
<?php 
									$todayDate = time(); 
									$timeStartNew = strtotime($_item->getData('news_from_date'));
									$timeEndNew = strtotime($_item->getData('news_to_date')); 
?>
<?php 
									if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): 
?>
										<span class="newlabel">
											<span>
												<?php echo __('New')?>
											</span>
										</span>
<?php 
									endif; 
?>
						    </div>
						    <div class="product-info">
						    	<br>
								<h3 class="title-product">
		 							<a title="<?php echo $_item->getName(); ?>" href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-item-link">
										<?php echo $_item->getName(); ?>
									</a>
								</h3>
								<div class="product-rating">
<?php 
									if ($templateType): 
?>
   										<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
<?php 
   									endif; 
?>
								</div>
								<div class="info-price">
									<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>
								</div>
							    <div class="product-info-cart">
<?php 
					                if ($showWishlist || $showCompare || $showCart): 
?>
<?php 
										if ($showCart): 
?>
						                    <div class="actions-primary addcart-link">
<?php 
						                      if ($_item->isSaleable()): 
?>
<?php
						                          $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
						                          $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
						                          $postParams = json_decode($postData, true);
?>
						                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
						                          <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
						                          <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
						                          <?php echo $block->getBlockHtml('formkey')?>
						                          <button type="submit"
						                              title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
						                              class="btn-add-to-cart">
						                            <?php echo $block->escapeHtml(__('Add to Cart')); ?>
						                          </button>
						                        </form>
<?php 
						                      else: 
?>
<?php 
						                        if ($_item->getIsSalable()): 
?>
						                          <div class="stock available"><span><?php echo __('In stock') ?></span></div>
<?php 
						                        else: 
?>
						                          <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
<?php 
						                        endif; 
?>
<?php 
						                  	  endif; 
?>
						                    </div>
<?php 
						            	endif; 
?>
					                  	<ul class="product-extra-link add-to-links">
<?php 
										if ($showWishlist || $showCompare): 
?>
<?php 
											if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): 
?>
												<li>
													<div class="add-to-wishlist">
														<a href="#"
														   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
														   class="wishlist-link action towishlist" data-action="add-to-wishlist"
														   title="<?php echo __('Add to Wishlist') ?>">
														</a>
													</div>
												</li>
<?php 
											endif; 
?>
<?php 
											if ($block->getAddToCompareUrl() && $showCompare): 
?>
<?php 
												$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
?>
												<li>
													<div class="woocommerce">
														<a href="#" class="compare-link action tocompare"
														   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
														   title="<?php echo __('Add to Compare') ?>">
														</a>
													</div>	
												</li>
<?php 
											endif; 
?>
<?php 
										endif; 
?>
										</ul>
<?php 
			                   		endif; 
?>
			                    </div>	
							</div>
						</div>	
					</div>
<?php 
					if($i%$rows==0 || $i == count($productItems)) 
					{
?> 
						</div> 
<?php 
					}
?>
<?php
				}
?>
			</div>
<?php
			}
?>
		 </div>
<?php
		}
?>
	</div>
  </div>
</div>
<script type="text/x-magento-init">
{
	"[data-role=tocart-form], .form.map.checkout": {
		"catalogAddToCart": {}
	}
}
</script>
<style type="text/css">
.swiper1 {
        width: 100%;
        overflow: hidden;
    }
.swiper1 .swiper-slide {
        text-align: center;
        font-size: 18px;
        height:50px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        cursor:pointer;
}

.owl-item {
	/*width: 240px;
	margin: 0 auto;*/
}
.swiper1 .owl-controls{
	display: none !important;
}
.swiper2 .owl-item .product-image-container{
	/*width: 100% !important;*/
	margin: 0 auto !important;
}

.swiper2 .swiper-slide{
	display: none;
}
.swiper2 .swiper-slide.active{
	display: block;
}
.catagoryproduct-tab .list-tab-product .box-title .tabs div.owl-controls{
	display: none;
}
.catagoryproduct-tab .list-tab-product .box-title .tabs div.owl-item{
	margin: 0px;
	padding: 0px;
}
.catagoryproduct-tab .list-tab-product .box-title .tabs div.owl-item{
    display: inline-block;
    /*padding: 13px 25px;*/
    font-size: 16px;
    font-weight: 600;
    color: #2f3034;
    font-family: 'Mali', sans-serif;
    background: #f4f4f4;
    margin-right: 3px;
    border-radius: 3px 3px 0 0;
}

.catagoryproduct-tab .list-tab-product .box-title .tabs div.owl-item:hover{
    cursor: pointer;
}

.catagoryproduct-tab .list-tab-product .box-title .tabs div.owl-item:hover, .product-tab .list-tab-product .box-title .tabs div:hover {
    background: #018dc2;
    color: #fff;
}
.catagoryproduct-tab .list-tab-product .box-title .tabs div.selected, .product-tab .list-tab-product .box-title .tabs div.selected {
    background: #018dc2;
    color: #fff;
}
</style>
<script type="text/javascript">
require(["jquery", 'mage/mage',"jquery/owl.carousel2"], function($){
	'use strict';

	var owlCatTabs = $(".tabs");
	var owlItemTabs = $(".swiper2content");
	// console.log(owlItemTabs);

	$(document).ready(function() 
	{
		owlCatTabs.owlCarousel2({
		    stagePadding: 35,
		    loop:false,
		    margin:8.5,
		    nav:false,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:3
		        },
		        1000:{
		            items:4
		        }
		    }
		});
		$(".swiper1 .owl-item").each(function(index) {
			var slideItem = $(this).find('.swiper-slide');
	    	var rel = slideItem.attr('rel');
	    	$(this).attr('id',rel+"_tabs");
		});
		$('.swiper1 .owl-item.active').first().addClass('selected');
		$('.swiper1 .owl-item').on('mouseup',function(e){

			//remove old active
	    	$('.swiper1 .owl-item').removeClass('selected');

	    	//find id
	    	var slideItem = $(this).find('.swiper-slide');
	    	var rel = slideItem.attr('rel');

	    	$('.swiper2 .swiper-slide').removeClass('active');

		    $("#"+rel).addClass('active');
	    	//current active
	    	$("#"+rel+"_tabs").addClass('selected');
	    });
	    var hhh = $(".swiper2 .owl-dots").height();
	    $(".swiper2 .swiper-slide").each(function(index) {
	    	var thisId = $(this).attr("id");
	    	var elm="#"+thisId+" .swiper2content";
	    	var xc = $(elm);
			xc.owlCarousel2({
			    stagePadding: 35,
			    loop:true,
			    margin:8.5,
			    nav:true,
			    responsive:{
			        0:{
			            items:1
			        },
			        600:{
			            items:3
			        },
			        1000:{
			            items:4
			        }
			    }
			});
		});
		
		$(".swiper1 .owl-nav").hide();
		$(".swiper1 .owl-dots").hide();
		$(".swiper2 .owl-dots").hide();
	});
});
</script>
<style type="text/css">
	/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core swiper
 */
.swiper1 .tabs .owl-stage {
  padding-left: 0px !important;
}
.swipess {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .swipess .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .swipess .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .swipess .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .swipess .owl-wrapper,
  .swipess .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .swipess .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .swipess .owl-item img {
    display: block;
    width: 100%; }

  .swipess .owl-nav.disabled,
  .swipess .owl-dots.disabled {
    display: none; }
  .swipess .owl-nav .owl-prev,
  .swipess .owl-nav .owl-next,
  .swipess .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .swipess .owl-nav button.owl-prev,
  .swipess .owl-nav button.owl-next,
  .swipess button.owl-dot {
    color: inherit;
    padding: 0 !important;
    font: inherit; }
  .swipess.owl-loaded {
    display: block; }
  .swipess.owl-loading {
    opacity: 0;
    display: block; }
  .swipess.owl-hidden {
    opacity: 0; }
  .swipess.owl-refresh .owl-item {
    visibility: hidden; }
  .swipess.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .swipess.owl-grab {
    cursor: move;
    cursor: grab; }
  .swipess.owl-rtl {
    direction: rtl; }
  .swipess.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .swipess {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.swipess .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.swipess .owl-animated-in {
  z-index: 0; }

.swipess .owl-animated-out {
  z-index: 1; }

.swipess .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.swipess .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .swipess .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .swipess .owl-item .owl-lazy[src^=""], .swipess .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .swipess .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.swipess .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.swipess .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.swipess .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.swipess .owl-video-playing .owl-video-tn,
.swipess .owl-video-playing .owl-video-play-icon {
  display: none; }

.swipess .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.swipess .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
.tab_container .owl-nav{
	text-align: center;
    position: absolute;
    top: -5px;
    right: 10px;
    opacity: 1;
    width: 65px;
    display: contents;
    visibility: visible;
}
.tab_container .owl-nav .owl-prev {
    right: 40px;
    left: auto;
}
.tab_container .owl-nav .owl-next {
    right: 0px;
}
.tab_container .owl-nav > button {
	position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: none;
    color: #018dc2;
    border-radius: 50%;
    margin-top: 0;
    top: -50px;
}
.tab_container .owl-nav > button > span {
	display: none;
}
.tab_container .owl-prev:before {
    content: "\f104";
    font-size: 30px;
    /* font-family: 'Sriracha', sans-serif; */
    font-weight: 400;
}

.tab_container .owl-next:before, .owl-prev:before {
    content: "";
    font-family: FontAwesome;
    font-size: 24px;
    color: #018dc2;
}
.tab_container .owl-next:before {
    content: "\f105";
    font-size: 30px;
    /* font-family: 'Sriracha', sans-serif; */
    font-weight: 400;
}
</style>
