@media (min-width: 992px){
  .container-fluid {
    .col-header-left {
      padding-left: 280px;
      position: fixed;
      top: 50px;
      bottom: 50px;
      z-index: 99;
      overflow: visible;
      .header-container{
        width: 280px;
        position: absolute;
        top: 0 !important;
        left: 0;
        bottom: 0px;
        min-height: 100%;
      }
    }
    .content-site {
      margin-left: 320px;
    }
  }
  .top-nav-right .register-login { margin-right: 20px; }
}

@media (min-width: 1400px){
  .block.block-search .dropdown-menu,
  .top-nav-right .minicart-wrapper .block-minicart,
  .modal-popup._inner-scroll .modal-inner-wrap {
    width: 17%;
  }
  body .verticalmenu.navigation.side-verticalmenu {
    max-height: 472px;
    height: 472px;
  }
  .page.messages { margin: 0; }
  #back-top { bottom: 272px; }
  .minicart-wrapper .action.showcart .counter.qty {
    background: transparent;
     color: #b95d02;
     position: absolute;
       top: -12px;
       right: -21px;
       font-size: 13px;
  }
  .block-minicart .block-content > .actions > .primary .action.primary,
.block-minicart .block-content > .actions .viewcart { 
   padding: 16px 25px; 
 }
  .top-nav-right .block-search .action.search { padding: 16px 25px; }
  .breadcrumbs { max-width: 1920px; }
    #newsletter_pop_up {
      width: 1220px !important;
      height: 655px !important;
    }
  #newsletter_pop_up .subscribe-bottom {
    margin-top: 130px!important;
  }
  .product-item .product-info .product-name a, .product-list-item .product-info .product-name a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .product-item .product-info .price-box .price, .product-list-item .product-info .price-box .price {
    font-size: 22px;
    font-family: 'Oswald',sans-serif;
    color: #fff;
    font-weight: 700;
  }
  .product-item .product-info .price-box .old-price .price, .product-list-item .product-info .price-box .old-price .price {
    color: #787d6b;
    font-size: 22px;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
  }
   .product-item .product-info {
      padding: 30px;
   }
   .product-item .product-info .addto-links-icons >div  {
      .icon {
        width: 48px;
        height: 48px;
        line-height: 42px;
        font-size: 18px;
     }
   }
   #newsletter_pop_up .title h3 {
    padding-top: 130px;
   }
   .banner_ .discripsion{
      h3{
        font-size: 50px;
      }
      p {
        font-size: 18px;
      }
      a {
        font-size: 20px;
      }
   }
   
   .page-title-wrapper .page-title .base {
     font-size: 20px;
     font-family: 'Oswald',sans-serif;
     font-weight: 500;
     color: #282828;
   }

   .page-title-wrapper .page-title .base:before { display: none; }
   .quick-view-content .product-info-main .price-box .price-wrapper .price {
     font-size: 24px;
     font-family: 'Oswald',sans-serif;
     font-weight: 700;
     color: #282828;
   }
   .quick-view-content .product-info-main .price-box .old-price .price-wrapper .price {
      font-weight: 300;
      margin-left: 5px;
   }
   .product-info-main .special-price, 
   .product-options-bottom .special-price {
     display: inline-block;
     margin: 0;
   }


   //Detail

   .page-wrapper > .breadcrumbs { margin-top: 45px; }
   .breadcrumbs ul li a {
     font-size: 20px;
     font-family: 'Oswald',sans-serif;
     font-weight: 600;
     color: #1f2610;
   }
   .breadcrumbs .item:not(:last-child):after {
     content: "/" ;
     color: #1f2610;
     font-size: 20px;
     font-family: 'Oswald',sans-serif;
     font-weight: 600;
   }
   .breadcrumbs .items {
     border-left: 5px solid #1f2610;
     padding-left: 20px;
   }
   .breadcrumbs ul li strong {
     color: #b95d02;
     font-size: 20px;
     font-family: 'Oswald',sans-serif;
     font-weight: 400;
   }
   .product-info-main .page-title-wrapper .page-title {
     margin-top: 0;
   }
   .breadcrumbs ul li a:hover {
     color: #b95d02;
    text-decoration: none;
   }
   .page-wrapper > .breadcrumbs {
     margin-bottom: 45px;
   }
   
   .product-view .price-box .old-price .price-container .price {
     font-weight: 300;
     color: #1f2610;
     margin-left: 5px;
   }
   .fotorama__stage__frame .fotorama__img {
     width: 100%;
     height: 100%;
   }
   .product.info.detailed .product.data.items .item.title:hover a, 
   .product.info.detailed .product.data.items .item.title.active a {
     color: #b95d02;
     border-bottom: 3px solid #b95d02;
   }
   .product.info.detailed .product.data.items .item.title a {
     color: #1f2610;
     font-weight: 500;
      font-family: 'Oswald',sans-serif;
      font-size: 20px;
        padding-bottom: 20px;
       display: inline;
       border-bottom: 3px solid #1f2610;
   }
   .product.info.detailed .product.data.items .item.title:after { display: none; }
   .product.data.items > .item.content {
     margin-left: 0;
   }

   .product.info.detailed .product.data.items .item.content {
     padding-top: 0;
     margin-top: 40px; 
   }
   .product-info-main .value p,
   .product-info-main .value ul li,
   .product.info.detailed .product.data.items .item.content .description p,
   .product.info.detailed .product.data.items .item.content .description ul li,
   .product.info.detailed .product.data.items .review-add .review-fieldset .legend {
     font-family: "Arial" ,sans-serif;
     color: #1f2610;
     font-size: 14px;
     font-weight: 400;
   }
   .rokan-product-heading h2 {
     color: #1f2610;
     font-weight: 500;
    font-family: 'Oswald',sans-serif;
      font-size: 30px;
    padding-bottom: 0;
     border-bottom: none; 
     margin-bottom: 0;
   }
   .rokan-product-heading { margin-bottom: 0; }
   .products { margin: 25 0; }


   .product-page-brand-common-view {
     border-bottom: 1px solid #eee;
     margin-bottom: 35px;
     padding-bottom: 35px;
   }
   .product-page-brand-common-view .product-brands li {
     display: inline-block;
     margin-right: 10px;
     margin-bottom: 10px;
     text-align: left;
   }
   .product-page-brand-common-view .product-brands li a {
     display: block;
     font-size: 11px;
   }
   .product-page-brand-common-view .product-brands li img {
     max-width: 50px;
   }
   .product-page-brand-common-view .product-brands li a:last-child {
     margin-top: 3px;
     max-width: 50px;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
   }

   .product-options-wrapper .swatch-option.color {
     border: none;
     position: relative;
   }
   .product-options-wrapper .swatch-option.image:not(.disabled):hover, 
   .product-options-wrapper .swatch-option.color:not(.disabled):hover {
     border: none;
     box-shadow: none;
   }
   .product-options-wrapper .swatch-option.color:after {
     content: "";
     width: 5px;
     height: 5px;
     position: absolute;
     bottom: 10px;
     color: #1f2610;
   }
   .product-add-form .fieldset > .field:not(.choice) > .label span,
   .product-view .box-tocart .field.qty label span, 
   .product-options-bottom .box-tocart .field.qty label span {
     font-weight: 700;
   }
   .product-view .box-tocart .actions, .product-options-bottom .box-tocart .actions {
       font-weight: 700;
   }                                     
   .product-view .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart {
     border-radius: 50px;
   }
 
   .product-social-links {
     position: absolute;
     left: 251px;
     bottom: 23px;
   }
   .product-info-main .action.tocompare, 
   .product-options-bottom .action.tocompare, 
   .product-info-main .action.towishlist {
     background: transparent;
   }
   .product-info-main .action.towishlist:hover, 
   .product-info-main .action.tocompare:hover {
     background: transparent;
   }
   .product-social-links .action.mailto.friend:hover:before,
   .product-social-links .action:hover .fa, 
   .product-social-links .action.mailto.friend:hover .fa {
     background: #1f2610;
     color: #fff;
   }
   .product-view .box-tocart .field.qty .control input, .product-options-bottom .box-tocart .field.qty .control input { border-radius: 40px; }
   .product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty,
   .product-view .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty { display: block; }
   .product-view .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart { line-height: 50px; }
   .product-info-main { position: relative; }
   .product-info-main .product-reviews-summary .reviews-actions a { color:  #1f2610; }
   .product-info-main .box-tocart .action.tocart {
     color: #fff;
     font-weight: 400;
     font-family: 'Oswald', sans-serif;
     font-size: 18px;
     padding-bottom: 0;
     border-bottom: none;
     margin-bottom: 0;
     line-height: 50px;
     border-radius: 50px;
     padding: 0px 50px;
   }
   .product-info-main .box-tocart { margin-bottom: 0; }

   .zoom-image {
     position: relative;
   }
   .zoom-image a:after { 
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.8);
   }
   .zoom-image span {
     position: absolute;
     top: 45%;
     left: 44%;
     font-family: 'Oswald',sans-serif;
     font-weight: 500;
     font-size: 45px;
     color: #fff;
     text-transform: uppercase;
   }


   .title-us {
     margin-top: 70px;
     margin-bottom: 50px;
     h3 {
        font-family: 'Oswald',sans-serif;
       font-weight: 500;
       font-size: 36px;
       color: #1f2610;
       text-transform: uppercase;
     }
     p {
       font-family: 'Oswald',sans-serif;
       font-weight: 400;
       font-size: 18px;
       color: #1f2610;
     }
   }
   .container-about-us {
     h4 {
        font-family: 'Oswald',sans-serif;
       font-weight: 500;
       font-size: 36px;
       color: #1f2610;
       line-height: 22px;
       margin-bottom: 28px;
       padding-bottom: 30px;
       span {
         border-bottom: 5px solid #1f2610;
         padding-bottom: 12px;
       }
     }
     p {
       font-family: "Arial",sans-serif;
       font-weight: 400;
       font-size: 14px;
       color: #1f2610;
     }
     .description {
       font-family: "Arial",sans-serif;
       font-weight: 400;
       font-size: 14px;
       color: #1f2610;
       p { margin: 40px 0; }
     }
   }
   .title_css {
      font-family: 'Oswald',sans-serif;
     font-weight: 500;
     font-size: 18px;
     color: #1f2610;
     margin-bottom: 18px;
     span {
       margin-left: 20px;
     }
   }
   .list {
     background-color: #f4f4f4;
     height: 10px;
     width: 100%;
     margin-bottom: 45px;
     span {
       display: block;
       background-color: #1f2610;
       height: 10px;
     }
   }
   .banner_contact{
     margin-bottom: 120px;
   }
  .product-item .addto-links-icons .actions-primary .btn-add-to-cart{
    moz-transform: translateX(-48px);
    -webkit-transform: translateX(-48px);
    -o-transform: translateX(-48px);
    -ms-transform: translateX(-48px);
    transform: translateX(-48px);
  }
  .product-item .product-info .addto-links-icons .quickview-product{
    moz-transform: translateX(48px);
    -webkit-transform: translateX(48px);
    -o-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
  }
  .banner_top_home { 
    margin-bottom: 100px;
    overflow: hidden;
    .item1 {
      padding: 70px 50px;
      background: #f4f4f4;
      float: left;
      width: 32%;
      margin-right: 2%;
      .feature_content {
        padding-left: 40px;
        h3 {
          font-size: 24px;
        }
        p {
           font-size: 14px;
        }
      }
    }
  }
  .form.contact { padding-left: 50px; }

   .banner_top_home .feature_icon span .map-marker-alt:before {
     content: "\f3c5";
     font-size: 55px;
     color: #1f2610;
      font-family: 'Font Awesome 5 Free';
   }
   .banner_top_home .feature_icon span .phone:before {
     content: "\f095";
     font-size: 55px;
     color: #1f2610;
      font-family: 'Font Awesome 5 Free';
   }
   .banner_top_home .feature_icon span .envelope:before {
     content: "\f0e0";
     font-size: 55px;
     color: #1f2610;
      font-family: 'Font Awesome 5 Free';
   }
   .vc_column-inner  .wpb_wrapper { 
      padding: 60px;
      span {
        margin-bottom: 50px;
      }
      span:before{
        font-size: 80px;
        color: #1f2610;
      }  
   }
   .fieldset .legend span {
    font-size: 24px;
   }
   .fieldset > .field,
   .fieldset > .field:not(.choice) > .label {
     font-size: 18px;
     margin-bottom: 15px;
   }
  .primary .action.primary {
     font-size: 18px;
     padding: 16px 32px;
  } 
  .top-nav-right {
    .register-login a:before,
    .minicart-wrapper i:before,
    .block-search i:before {
      font-size: 28px;

    }
  }
  .minicart-wrapper .action.showcart .counter.qty.empty { 
    top: -12px;
    right: -21px;
    font-size: 14px; 
  }
  .minicart-wrapper {
    margin-left: 40px;
  }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 {
    margin-bottom: 10px;
  }
  .top-menu .logo {
    margin-bottom: 100px;
  }
  .top-nav-right {
    margin-top: 100px;
  }
  .product-item .product-info .price-box, .product-list-item .product-info .price-box { 
    margin: 18px 0 28px 0;
 }
 .about_left {
  padding-left: 50px;
 }
 .contact-info-page .item-contact-info { 
    padding-right: 110px; 
  }
  .page-main {
    border-bottom: 5px solid;
    padding-bottom: 100px;
  }
  .page-footer .footer-copyright { 
    padding: 96px 0;
  }
  #maincontent.page-mains {
  padding-bottom: 96px;

}

  .post-images {
    label ,a{
    font-size: 36px;
    }
  }
  .post-view .post-info .post-description, .post-list .post-info .post-description, 
  .post-view .post-content .post-description, .post-list .post-content .post-description {
    font-size: 14px;
  }
  .blog-post-info .post-title a {
   font-size: 36px;
  }
  .post-info-extra .post-date{
    font-size: 16px;
    margin: 25px 0;
  }
  .filter-content .filter-options .filter-options-title {
    font-size: 20px;
  }
  .block-authentication .block[class] .block-info-link li a,
  .block-authentication .block-title ,
  .block.block-search .dropdown-menu .title-search,
  .block-minicart .items-total .title_mycart {
	font-size: 28px;
  }
  .container-fluid .col-header-left { bottom: 96px; }
}
@media (min-width: 1200px){
  .products-grid ol > li:nth-of-type(3n+1) {
      clear: none;
  }
}
@media (min-width: 1024px){
	.product-social-links {
		position: absolute;
		left: 128px;
		bottom: -50px;
	}
  .page-products .products-grid .product-item {
    width: 100%;
  }
}

@media (min-width: 768px), print{
  .page-products .products-grid .product-item {
        width: 100%;
  }
}
@media (min-width: 640px){
.products-grid .product-item {
    margin-bottom: 0;
  }
  .page-products .products-grid .product-item, 
  .page-layout-1column .products-grid .product-item, 
  .page-layout-3columns .products-grid .product-item, 
  .page-products.page-layout-1column .products-grid .product-item, 
  .page-products.page-layout-3columns .products-grid .product-item {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1399px) { 
  .container-fluid .content-site { margin-left: 290px; }
}
@media (max-width: 1399px){ 
  .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
  }
  #back-top {
    right: -27px;
  }
}
@media (max-width: 1199px){ 
  .modal-popup._inner-scroll .modal-inner-wrap,
  .block.block-search .dropdown-menu,
  .top-nav-right .minicart-wrapper .block-minicart {
     width: 50%;
  }
}
@media (max-width: 1024px){ 
  .contact-info-page .item-contact-info { 
    padding-right: 0; 
  }
  .product-item .product-info .product-name a, .product-list-item .product-info .product-name a{ font-size: 15px; height: 42px;}
  .product-item .product-info .price-box .old-price .price, .product-list-item .product-info .price-box .old-price .price,
  .product-item .product-info .price-box .price, .product-list-item .product-info .price-box .price { font-size: 17px; }
  .product-item .product-info .addto-links-icons>div .icon { 
      width: 33px;
    height: 33px;
    line-height: 29px;
    border: 2px solid #7e8079;
   }
   #newsletter_pop_up .title h3 { padding-top: 50px; }
   #newsletter_pop_up .subscribe-bottom {
    margin-top: 50px;
   }
}
@media (max-width: 992px){ 
  .page-footer .footer-copyright .copyright {
    margin-top: 0;
    border-left: none;
    padding-left: 0;
  } 
  #newsletter_pop_up {
    width: 90% !important;
    max-width: 90%;
  }
}
@media (min-width: 768px){
  .minicart-wrapper .block-minicart {
    
    right: auto;
  }
  .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account {
    width: 100%;
  }
  .page-products.page-layout-1column .products-grid .product-item {
    width: 100%;
  }
  .minicart-wrapper {
    margin: 0 15px;
  }
}
@media (max-width: 991px){ 
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-wrapper>.breadcrumbs { margin-top: 0; }
  .minicart-wrapper .action.showcart .counter.qty.empty { right: -12px; }
  .verticalmenu.navigation.side-verticalmenu>ul .expand-category-link { color: #fff; }
  body .verticalmenu.navigation.side-verticalmenu {
      overflow: auto;
      max-height: 100%;
  }
    #newsletter_pop_up  {
    background-image: none !important;
  }
	.nav-open .nav-sections { padding: 0 60px; }
	.nav-toggle { display:block; }
    #close-menu {
      display: block !important;
      padding-top: 25px;
      margin-bottom: 15px;
      text-align: right;
      a {
          color: #fff;
          position: relative;
          right: 2px;
      }
   }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 > a { color: #fff; }
  .verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu .subchildmenu>li.level2 a,
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu .subchildmenu > li.level1 > a {
      color: #fff;
  }
	.verticalmenu.navigation li.parent.ui-menu-item .submenu .parent .title-cat-mega-menu.ui-state-active:before {color: #fff;}
  .verticalmenu.navigation li.parent.ui-menu-item {
      .level-top:before {
        font-family: FontAwesome;
        content: "\f067";
        font-size: 14px;
        right: 2px;
        position: absolute;
        font-weight: 500;
        color: #fff;
      }
     .level-top.ui-state-active:before {
      content: '\f068';
        color: #b95d02;
      font-family: FontAwesome;
      font-size: 14px;
      right: 2px;
      position: absolute;
      font-weight: 500;
    }
    
  }
.verticalmenu.navigation li.parent.ui-menu-item .submenu .parent {
    .title-cat-mega-menu:before{
      font-family: FontAwesome;
      content: "\f067";
      font-size: 14px;
      color: #fff;
     right: 0;
     position: absolute;
      font-weight: 500;
    }
      .title-cat-mega-menu.ui-state-active:before {
      content: '\f068';
      color: #b95d02;
      font-family: FontAwesome;
      font-size: 14px;
      right: 0;
      position: absolute;
      font-weight: 500;
    }
  }
  .verticalmenu.navigation.side-verticalmenu { display: block; }
  .nav-sections { width: 100%; }
  .nav-toggle {
    right: 0;
    left: auto;
    top: 40px;
  }
  .nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    left: 0;
    z-index: 99;
  background: #222;
  }
  .nav-sections {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: -80%;
    left: calc(-1*(100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
    width: 100%;
    left: calc(-100%);
  }
  .verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu { 
    position: unset;
    background: #222;
   }
   
   
   
  .container-fluid .header-container { top: 0;}
  .header-container {
    margin-bottom: 30px;
  }
  .top-nav-right {
    margin-top: 30px;
  }
  .top-menu .logo {
    margin: 20px 0 50px;
  }

  #newsletter_pop_up { padding: 35px; }

  
  .top-nav-right .minicart-wrapper .block-minicart,
  .block.block-search .dropdown-menu{
    &:before {
      left: 50%;
    }
  }
  .container-fluid .header-container {
	width: 100%;
	padding-bottom: 20px;
	padding-left:0;
	
  }
.minisearch.dropdown-menu.search-content .nav-toggle { display: none; }
  .top-nav-right .minicart-wrapper,
  .top-nav-right .block-search {
	float:right;
  }
  .top-menu .logo {
	 margin: 0; 
	 
   }
}
@media (max-width: 768px){ 
  #newsletter_pop_up .title h3 {
    padding: 0;
  }
  .col-md-6.pull-right {
    float: none !important;
  }

}
@media (max-width: 767px){ 
  #newsletter_pop_up .btn-close {
      top: 8px !important;
      right: 10px !important;
  }
	.nav-open .nav-sections {
		padding: 0 40px;
	}		
  .minicart-wrapper .block-minicart { right: auto; }
  .verticalmenu.navigation.side-verticalmenu>ul .expand-category-link { color: #fff; }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 > a { color: #fff; }
  .verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu .subchildmenu>li.level2 a,
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu .subchildmenu > li.level1 > a {
      color: #fff;
  }
  .verticalmenu.navigation li.parent.ui-menu-item .submenu .parent .title-cat-mega-menu.ui-state-active:before {color: #fff;}
  .verticalmenu.navigation li.parent.ui-menu-item {
        .level-top:before {
          font-family: FontAwesome;
          content: "\f067";
          font-size: 14px;
          right: 7px;
          position: absolute;
          font-weight: 500;
          color: #fff;
        }
       .level-top.ui-state-active:before {
        content: '\f068';
          color: #b95d02;
        font-family: FontAwesome;
        font-size: 14px;
        right: 7px;
        position: absolute;
        font-weight: 500;
      }
      
    }
  .verticalmenu.navigation li.parent.ui-menu-item .submenu .parent {
      .title-cat-mega-menu:before{
        font-family: FontAwesome;
        content: "\f067";
        font-size: 14px;
        color: #fff;
       right: 0;
       position: absolute;
        font-weight: 500;
      }
        .title-cat-mega-menu.ui-state-active:before {
        content: '\f068';
        color: #b95d02;
        font-family: FontAwesome;
        font-size: 14px;
        right: 0;
        position: absolute;
        font-weight: 500;
      }
  }
  .verticalmenu.navigation.side-verticalmenu { display: block; }
  .nav-sections { width: 100%; }
  
  .nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    box-shadow: 0 0 5px 0 rgba(50,50,50,.75);
    left: 0;
    z-index: 99;
  }
  .nav-sections {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: -80%;
    left: calc(-1*(100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
    width: 100%;
    left: calc(-100%);
  }
  .verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu { 
    position: unset;
    background: #222;
    padding: 0 15px;
   }
  .top-nav-right .register-login {
    margin-right: 0;
  }
  .page-footer .footer-copyright .footer.links {
    float: none;
  } 
  .about_left {
    padding-left: 0;
    margin-top: 30px;
  }
  .minicart-wrapper {
    margin: 0 15px;
  }
  .banner-h5-bottom-left {
    margin-bottom: 20px;
  }
  
  .page-products .products-grid .product-item, 
  .page-layout-1column .products-grid .product-item, 
  .page-layout-3columns .products-grid .product-item, 
  .page-products.page-layout-1column .products-grid .product-item, 
  .page-products.page-layout-3columns .products-grid .product-item {
    width: 100%;
  }

	.top-nav-right .block-search .action.search {
		display:block;
	}
	.block-search input {
		position: unset;
	}
	.block-search .control {
		border-top: 0;
		margin: 0;
		padding: 0 0 25px;
	}
	.block-search .label { display: none; }
}
@media only screen and (max-width: 639px){
	.block-search {
		margin-top: 0;
	}
}
@media (max-width: 480px){ 
  .zoom-image span {
    font-size: 20px;
  }
	.block.block-search .dropdown-menu, 
	.modal-popup._inner-scroll .modal-inner-wrap, 
	.top-nav-right .minicart-wrapper .block-minicart	{ 
		width:100%;
	}
	.nav-open .nav-sections {
		padding: 0 20px;
	}
} 
@media (max-width: 320px){ 
	.top-menu .logo {
		position: unset;
		text-align: center;
		display: inline-block;
	}
	.top-nav-right .register-login,
	.top-nav-right .minicart-wrapper,
	.top-nav-right .block-search{
		float:none;
		text-align:center;
		display:inline-block;
		margin: 0 5px;
	}
	.nav-toggle {
		top:90px;
		right: 60px;
	}
  .logo img { display: inline-block; }
}