<?php 
	use Magento\Framework\App\Action\Action;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$category_load = $block->getCategory();
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'new_products_content_widget_grid';
?>
<div class="hot-deal-tab-slider hot-deal-tab-slider-customcss">
	<div class="row">
		<div class="hot-deal-slide">
			<?php 
				$newItems =  $block->getProducts();
			?>
			<?php
			foreach($newItems as $_item) {
			?>
			<div class="hot-deal-tab">
				<div class="col-md-5 col-sm-6 col-xs-6">
					<div class="hot-deal-image">
						<div class="content-item-product">
						
							<div class="product-thumb">
								<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link">
									<?php 			
									   $productImage = $block->getImage($_item, $image);
									   $productImageThumb = $block->getImage($_item, 'category_page_grid-1');
									 ?>
									<span class="first-thumb">
										<?php echo $productImage->toHtml(); ?>
									</span>
									<span class="second-thumb">
										<?php echo $productImageThumb->toHtml(); ?>
									</span>
								</a>
								<div class="quickview-product">
										<a  data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="<?php echo __('Quick view');?>">Quick view</a>
								    </div>
							</div>
						</div>
					</div>
				</div>		
				<div class="col-md-7 col-sm-6 col-xs-6">
					<div class="woocommerce-hot-deal">
						<div class="hot-onsale">
							<span class="onsale">
							<span class="sale-bg"></span>
							<span class="sale-text"><?php echo $block->showLableSalePrice($_item); ?>
							</span>
							</span>
						</div>	
						<div class="hot-deal-tab-title">
							<h2><?php echo $block->getConfig('title');?></h2>
							<p><?php echo $block->getConfig('description');?></p>
							<h3 class="title-product">
								<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
								   href="<?php echo $block->getProductUrl($_item) ?>"
								   class="product-item-link">
									<?php echo $block->escapeHtml($_item->getName()) ?>
								</a>
							</h3>
						</div>
						
						<!-- <div class="desc"><?php //echo $block->softTrim($block->escapeHtml(strip_tags($_item->getShortDescription())), 70); ?></div> -->
							<div class="product-rating">
														<?php if ($templateType): ?>
					   										<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
					   									<?php endif; ?>
													</div>
							<div class="info-price">
								<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>
								
							</div>
						<div class="product-info-cart">
							
							<div class="actions-primary addcart-link">
							  <?php if ($_item->isSaleable()): ?>
								<?php
								  $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
								  $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
								  $postParams = json_decode($postData, true);
								  ?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
								  <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
								  <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
								  <?php echo $block->getBlockHtml('formkey')?>
								  <button type="submit"
									  title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
									  class="btn btn-add-to-cart">
									<?php echo $block->escapeHtml(__('Add to Cart')); ?>
								  </button>
								</form>
							  <?php else: ?>
								<?php if ($_item->getIsSalable()): ?>
								  <div class="stock available"><span><?php echo __('In stock') ?></span></div>
								<?php else: ?>
								  <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
								<?php endif; ?>
							  <?php endif; ?>
							</div>
							<div class="product-extra-link">
								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
									<a href="#"
									   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
									   class="wishlist-link action towishlist" data-action="add-to-wishlist"
									   title="<?php echo __('Add to Wishlist') ?>">
										
									</a>
								<?php endif; ?>
								<?php if ($block->getAddToCompareUrl()): ?>
									<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
									<a href="#" class="compare-link action tocompare"
									   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
									   title="<?php echo __('Add to Compare') ?>">
										
									</a>
								<?php endif; ?>
								<!-- <div class="quickview-product quickview-product-fixed-inline">
									<a  data-role="quickview-button" data-id="<?php //echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php //echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="<?php //echo __('Quick view');?>"><i class="fa fa-search"></i></a>
								</div> -->
							</div>
						</div>
						<div class="product-info">
							
							
							<div class="note-hurry"><?php echo _('Hurry Up! Offer ends in:') ?></div>
							<div class="super-deal-countdown" data-date="<?php echo $block->getConfig('end_date');?>"></div>
						</div>
					</div>
				</div>
			</div>
			<?php } ?>
		</div>
	</div>
	<!-- <a href="<?php //echo $category_load->getUrl();?>" class="view-all-deal" data-hover="<?php //echo __('View All') ?>"><span><?php //echo __('View All') ?></span></a> -->
</div>
<script type="text/javascript">
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
    // require([
    //     'jquery',
    //     'rokanthemes/timecircles'
    // ], function ($) {
		$( document ).ready(function() {
			$(".hot-deal-slide").owlCarousel({
	        items: 1,
	         	itemsDesktop : [1199, 1],
		        itemsDesktopSmall : [991, 1],
		        itemsTablet : [767, 1],
		        itemsMobile : [479, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
	    });

			if($('.super-deal-countdown').length>0){
				$(".super-deal-countdown").TimeCircles({
					fg_width: 0.01,
					bg_width: 1.2,
					text_size: 0.07,
					circle_bg_color: "#ffffff",
					time: {
						Days: {
							show: true,
							text: "Days",
							color: "#f9bc02"
						},
						Hours: {
							show: true,
							text: "Hours",
							color: "#f9bc02"
						},
						Minutes: {
							show: true,
							text: "Mins",
							color: "#f9bc02"
						},
						Seconds: {
							show: true,
							text: "Secs",
							color: "#f9bc02"
						}
					}
				}); 
			}
		});
    });
</script>
<?php } ?>